*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: aliceblue;
    background-color: burlywood;
}

.mainContainer {
    width: 100%;
}

.mainContainer .head {
    width: 100%;
    height: 100vh;
    background-image: url(../images/drew-coffman-1872.jpg);
    background-size: 100% 100%;
    transform: translateX(0px);
}

.mainContainer .head .header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    position: sticky;
    top: 0;
}

.mainContainer .head .header .logo {
    width: 25%;
}

.mainContainer .head .header .logo img {
    width: 100%;
    padding: 5% 30%;
}

.mainContainer .head .header ul {
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

.mainContainer .head .header ul li {
    width: 100%;
    text-align: center;
}

.mainContainer .head .header ul li a {
    width: 50%;
    color: aliceblue;
    text-decoration: none;
    border-radius: 20px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
    padding: 10% 5%;
    transition: 0.5s;
}

.mainContainer .head .header ul li a:hover,
.mainContainer .head .header ul .active a {
    color: burlywood;
    border-top: 2px solid burlywood;
}

.mainContainer .head .header ul li a:hover {
    border-top: 2px solid burlywood;
}

.mainContainer .head .data {
    margin-top: 12%;
}

.mainContainer .head .data p,
.mainContainer .head .data .buttons {
    text-align: center;
    color: aliceblue;
    font-size: 25px;
    font-family: cursive;
}

.mainContainer .head .data h1 {
    text-align: center;
    color: aliceblue;
    font-size: 60px;
    font-family: cursive;
}

.mainContainer .head .data .buttons .button1 {
    width: 12%;
    background-color: rgb(0, 170, 216);
    color: aliceblue;
    border-radius: 20px;
    padding: 0.9%;
    font-family: cursive;
    font-size: 20px;
    transition: 0.5s;
}

.mainContainer .head .data .buttons .button2 {
    width: 12%;
    background-color: transparent;
    color: aliceblue;
    border-radius: 20px;
    border: 1px solid aliceblue;
    padding: 0.9%;
    font-family: cursive;
    font-size: 20px;
    transition: 0.5s;
}

.mainContainer .head .data .buttons .button1:hover {
    background-color: aliceblue;
    color: burlywood;
}

.mainContainer .head .data .buttons .button2:hover {
    background-color: aliceblue;
    color: burlywood;
}

.mainContainer .whoWeAre {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
}

.mainContainer .whoWeAre img {
    width: 40%;
    height: 70vh;
}

.mainContainer .whoWeAre .description h2,
.mainContainer .ourLocation .description h2 {
    font-family: cursive;
}

.mainContainer .whoWeAre .description .data,
.mainContainer .ourLocation .description .data {
    line-height: 1.5;
    margin-top: 2%;
    margin-bottom: 2%;
    opacity: 0.5;
    font-family: cursive;
}

.mainContainer .whoWeAre .description table {
    width: 100%;
    opacity: 0.7;
    font-family: cursive;
    line-height: 2;
}

.mainContainer .ourLocation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(232, 232, 232);
    margin-top: 5%;
}

.mainContainer .ourLocation img {
    width: 40%;
    height: 70vh;
    padding: 4% 4%;
}

.mainContainer .ourBaking {
    margin-top: 5%;
}

.mainContainer .ourBaking h2 {
    text-align: center;
    font-family: cursive;
}

.mainContainer .ourBaking p {
    text-align: center;
    font-family: cursive;
    opacity: 0.5;
}

.mainContainer .ourBaking .cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    padding: 0% 10%;
}

.mainContainer .ourBaking .cards .card {
    width: 32%;
}

.mainContainer .ourBaking .cards .card .image img {
    width: 100%;
    padding: 2%;
    border-radius: 20px;
}

.mainContainer .ourBaking .cards .card h3 {
    text-align: center;
    font-family: cursive;
}

.mainContainer .ourBaking .cards .card .data {
    line-height: 1.5;
}

.mainContainer .contact {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
    padding: 3%;
    background-color: rgb(232, 232, 232);
}

.mainContainer .contact .information {
    width: 44%;
    height: 50vh;
}

.mainContainer .contact .information h2 {
    font-family: cursive;
    margin-bottom: 5%;
}

.mainContainer .contact .information p {
    font-family: cursive;
    margin-bottom: 5%;
    opacity: 0.6;
}

.mainContainer .contact .information table {
    width: 70%;
    height: 20vh;
}

.mainContainer .contact .information table tr td {
    opacity: 0.5;
}

.mainContainer .contact .map {
    width: 36%;
}

.mainContainer .contact .map iframe {
    width: 100%;
    height: 50vh;
}

.mainContainer .footer {
    width: 100%;
    background-color: rgb(79, 79, 79);
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 1;
    padding: 3% 8%;
}

.mainContainer .footer .foot p {
    color: aliceblue;
    font-family: cursive;
    opacity: 0.4;
}

.mainContainer .footer .foot h3 {
    font-family: cursive;
    color: aliceblue;
}

.mainContainer .footer .foot table {
    width: 100%;
    height: 26vh;
}

.mainContainer .footer .foot table tr td {
    color: aliceblue;
    font-family: cursive;
    opacity: 0.4;
}

.mainContainer .footer .foot .contactDetails {
    width: 100%;
    height: 22vh;
    background-image: url(../images/contact-details-map.png);
    background-size: 100% 100%;
}

.mainContainer .underFooter {
    width: 100%;
    background-color: rgb(55, 55, 55);
    padding: 3% 0%;
}

.mainContainer .underFooter .image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}

.mainContainer .underFooter .words {
    color: rgb(118, 117, 117);
    text-align: center;
    margin-bottom: 2%;
}

.mainContainer .underFooter .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mainContainer .underFooter .icons a {
    border-radius: 50%;
    color: rgb(118, 117, 117);
    background-color: rgb(79, 79, 79);
    padding: 0.5%;
}

.mainContainer .underFooter .icons a img {
    width: 100%;
    height: 10vh;
}

.mainContainer .underFooter .icons .f:hover {
    color: aliceblue;
    background-color: dodgerblue;
}

.mainContainer .underFooter .icons .g:hover {
    color: aliceblue;
    background-color: rgb(248, 84, 117);
}

.mainContainer .underFooter .icons .l:hover {
    color: aliceblue;
    background-color: dodgerblue;
}
.mainContainer .underFooter .icons .t:hover {
    color: aliceblue;
    background-color: deepskyblue;
}



.mainContainer .head .header input,
.mainContainer .head .header label i {
    display: none;
}



@media (max-width: 1000px){
    .mainContainer .head .header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 10vh;
        background-color: transparent;
    }
    .mainContainer .head .header .logo {
    width: 90%;
    }
    .mainContainer .head .header ul {
        width: 50%;
        background-color: black;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        padding: 4vh 0%;
        border-radius: 20px;
        transition: 1s;
        transform-origin: top;
        transform: rotateX(90deg);
        margin-top: 56%;
    }
    .mainContainer .head .header ul li {
        width: 50%;
        margin-top: 3%;
    }
    .mainContainer .head .header ul li a,
    .mainContainer .head .header ul li .active a {
        font-size: 20px;
    }
    .mainContainer .head .header label i {
        display: flex;
        font-size: 40px;
        color: aliceblue;
        align-items: flex-start;
    }
    .mainContainer .head .header input:checked ~ ul {
        transform: rotateX(0deg);
    }
    .mainContainer .head .data {
        margin-top: 30%;
    }
    .mainContainer .head .data p,
    .mainContainer .head .data .buttons {
    font-size: 20px;
    }
    .mainContainer .head .data .buttons .button1,
    .mainContainer .head .data .buttons .button2 {
        width: 30%;
    }
    .mainContainer .whoWeAre {
    flex-wrap: wrap;
    }
    .mainContainer .whoWeAre img {
    width: 90%;
    margin-bottom: 3%;
    }
    .mainContainer .whoWeAre .description {
    width: 90%;
    margin-bottom: 3%;
    margin: 0 auto;
    }
    .mainContainer .whoWeAre h2,
    .mainContainer .whoWeAre .data p {
    text-align: center;
    }
    .mainContainer .ourLocation {
    flex-wrap: wrap;
    }
    .mainContainer .ourLocation img {
    width: 90%;
    margin-bottom: 3%;
    }
    .mainContainer .ourLocation .description {
    width: 60%;
    margin-top: 3%;
    }
    .mainContainer .ourBaking .cards {
        flex-wrap: wrap;
    }
    .mainContainer .ourBaking .cards .card {
        width: 100%;
        margin-bottom: 3%;
    }
    .mainContainer .contact {
        flex-wrap: wrap;
    }
    .mainContainer .contact .information {
        width: 100%;
        margin-bottom: 3%;
    }
    .mainContainer .contact .map {
        width: 100%;
    }
    .mainContainer .footer {
        flex-wrap: wrap;
    }
    .mainContainer .footer .foot {
        width: 47%;
        margin-right: 3%;
        margin-bottom: 5%;
    }
}

@media (max-width: 600px){
    .mainContainer .head .header .logo {
    width: 100%;
    }
    .mainContainer .footer {
    flex-wrap: wrap;
    }
    .mainContainer .footer .foot {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 5%;
    }
}